%h1#referrer_list_title Referrers
%table#referrers
  %thead
    %tr
      %th First Name
      %th Last Name
      -#%th= select_tag "status",
            options_for_select(["Status", "Incomplete", "Complete", "Approved", "Rejected"], @status),
            id: 'select_button',
            class: 'filter',
            :onchange => "filter_by_status(this.value)"
      %th
  %tbody
    - @referrers.each do |referrer|
      %tr
        %td.first_name= referrer.first_name
        %td.last_name= referrer.last_name
        -#%td.status= referrer.status
        %td.more_info= link_to "View Profile", referrer_path(referrer.id)
