%h1#admin_list_title Admins
%table#admins
  %thead
    %tr
      %th First Name
      %th Last Name
      %th
  %tbody
    - @admins.each do |admin|
      %tr
        %td.first_name= admin.first_name
        %td.last_name= admin.last_name
        %td.more_info= link_to "View Profile", admin_path(admin.id)