<p><%= t("devise.mailer.invitation_instructions.hello", email: '') %> <span class="invite-email-placeholder">[RECIPIENT] </span>,</p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p class="fake-invite-link"><%= t("devise.mailer.invitation_instructions.accept") %></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
