<div class="panel panel-default panel-form">
  <div class="panel-heading">
  	<h4> Change Your Profile </h4>
  </div>
  <div class="panel-body">
   
   <h2 class="header-link content-link"><%= button_to "Edit Profile", client_settings_edit_path(current_user.id), {:method => :get, class: "hvr-underline-from-left"}%> </h2>
   <br></br>
   
   <h2 class="header-link content-link"><%= button_to "Change Password", client_setting_path(current_user.id), {:method => :get, class: "hvr-underline-from-left"}%> </h2>
   <br></br>
  
   <h2 class="header-link content-link"><%= button_to "Delete Profile", client_destroy_path(current_user.id), data: {confirm: "Are you sure you want to delete your profile? This action cannot be undone."},  class: "hvr-underline-from-left"%> </h2>
	</div>
</div>
