<!DOCTYPE html>
<html>
<body>

<form action="/client/:id/setting/edit">
  First name:<br>
  <input type="text" name="firstname" value=<%=@user.first_name%>>
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="user.last_name">
  <br><br>
  <input type="submit" value="user.submit">
</form>

</body>
</html>