
 
   <h2 class="header-link content-link"><%= link_to "Edit", client_settings_edit_path(current_user.id), class: "hvr-underline-from-left"%> </h2>
  
   <h2 class="header-link content-link"><%= link_to "Delete", client_edit_path(current_user.id), class: "hvr-underline-from-left"%> </h2>
  
