<<<<<<< HEAD
table#referrers {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}

table#referrers th {
  border: 2px solid white;
  font-weight: bold;
  background-color: blue;
}

table#referrers th, table#referrers td {
  padding: 4px;
  text-align: left;
}
=======
// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
>>>>>>> master
