#referrer_list_title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "lato";
  font-weight: bold;
}

#referrers {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  border: hidden;
  border-bottom-style: solid;
  border-bottom-color: #98a6bc;
  font-family: "lato";
}

#referrers tr:nth-child(even) td {
  text-align: center;
  background-color: #f5f5f5;
}

#referrers th {
  padding: 25px;
  text-align: center;
}

#referrers thead {
  background-color: #98a6bc;
  color: white;
  font-size: 14pt;
}

#referrers td {
  padding: 10px;
  text-align: center;
}

#select_button {
  background-color: #98a6bc;
}

.referrer-info {

}

#client_list_title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "lato";
  font-weight: bold;
}

#clients {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  border: hidden;
  border-bottom-style: solid;
  border-bottom-color: #98a6bc;
  font-family: "lato";
}

#clients tr:nth-child(even) td {
  text-align: center;
  background-color: #f5f5f5;
}

#clients th {
  padding: 25px;
  text-align: center;
}

#clients thead {
  background-color: #98a6bc;
  color: white;
  font-size: 14pt;
}

#clients td {
  padding: 10px;
  text-align: center;
}

#referrals_list_title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "lato";
  font-weight: bold;
}

#referrals {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  border: hidden;
  border-bottom-style: solid;
  border-bottom-color: #98a6bc;
  font-family: "lato";
}

#referrals tr:nth-child(even) td {
  text-align: center;
  background-color: #f5f5f5;
}

#referrals th {
  padding: 25px;
  text-align: center;
}

#referrals thead {
  background-color: #98a6bc;
  color: white;
  font-size: 14pt;
}

#referrals td {
  padding: 10px;
  text-align: center;
}

#admin_list_title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "lato";
  font-weight: bold;
}

#admins {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  border: hidden;
  border-bottom-style: solid;
  border-bottom-color: #98a6bc;
  font-family: "lato";
}

#admins tr:nth-child(even) td {
  text-align: center;
  background-color: #f5f5f5;
}

#admins th {
  padding: 25px;
  text-align: center;
}

#admins thead {
  background-color: #98a6bc;
  color: white;
  font-size: 14pt;
}

#admins td {
  padding: 10px;
  text-align: center;
}
