// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vetting-training-optional, .LGBTIQ-association-optional, .ORAM-referrer-contact-optional, .LGBTIQ-optional, .cannot-provide-assistance,
.kimlik-number, .unhcr-case-number, .open-with, .client-dangers1, .client-dangers2, .client-dangers3, .other-violence-overview, .client-dangers4,
.mental-illness-optional, .arrested-optional, .medical-concern-optional, .documentary-evidence-optional, .documentary-other-optional,
.personal-relationship-yes, .personal-relationship-no, .organization-name, .friendship-level, .personal-relationship-organization, .persecution-optional {
	display: none;
}

.cannot-provide-assistance {
	display: none;

}

.cannot-provide-assistance {
	color: red;
}

.file-input-button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-label {
	font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #274491;
  display: inline-block;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
}

.file-input-label:hover {
    background-color: #274472;
}
