
.navbar {
  background-color: #274472;
  margin: 0;
  padding-bottom: 20px;
  border: 0;
}

.oram-logo {
  float: left;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #63b2f5;
}