
.navbar {
  background-color: #274472;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
}

.oram-logo {
  float: left;
  max-width: 80px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #63b2f5;
}

.content-links {
	height: 50px;
	width: 100%;
	background-color: #E1E1E1;
}

.content-link {
	display: inline-block;
}

.nav > li {
	display: inline-block;
	float: none;
}