// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel-default {
	width: 35%;
	margin: 40px auto;
	min-width: 300px;
}

.panel-form {
	width: 50%;
	margin: 40px auto;
	min-width: 300px;
}

.form-input {
	padding: 16px 0;
}

.referrer-info {
	
}

.form-question {
	font-weight: bold;
}

.referrer-profile-button {
	display: inline-block;
	margin-bottom: 16px;
}

.form-response {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10%;
}
