// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel-default {
	width: 35%;
	margin: 40px auto;
	min-width: 300px;
}

.panel-form {
	width: 50%;
	margin: 40px auto;
	min-width: 300px;
}

.form-input {
	padding: 16px 0;
}

.form-info {

}

.form-question {
	font-weight: bold;
}

.form-profile-button {
	display: inline-block;
	margin-bottom: 16px;
}

.form-response {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10%;
}

#client_list_title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "lato";
  font-weight: bold;
}

#clients {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  border: hidden;
  border-bottom-style: solid;
  border-bottom-color: #98a6bc;
  font-family: "lato";
}

#clients tr:nth-child(even) td {
  text-align: center;
  background-color: #f5f5f5;
}

#clients th {
  padding: 25px;
  text-align: center;
}

#clients thead {
  background-color: #98a6bc;
  color: white;
  font-size: 14pt;
}

#clients td {
  padding: 10px;
  text-align: center;
}

#select_button {
  background-color: #98a6bc;
}

.email-preview {
  border-top: 1px solid transparent;
  border-color: #ddd;
  word-wrap: break-word;
}

.fake-invite-link {
  color: #337ab7;
  cursor: pointer;
  display: inline-block;
}

.fake-invite-link:hover {
  text-decoration: underline;
}

.email-preview-title {
  border-bottom: 1px #ddd solid;
}
